@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --open-sans-font: "Open Sans", sans-serif;
  --space-mono-font: "Space Mono", monospace;
  --inter-font: "Inter", sans-serif;

  --main-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  --man-text-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
  --gray-text: rgb(161, 161, 161);
  --box-gray: rgb(45, 47, 51);
}
body {
  background-color: #121212;
  background-image: radial-gradient(#444 1px, transparent 1px);
  background-size: 30px 30px; /* spacing between dots */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--open-sans-font);
  color: white;
}

main {
  width: 95%;
  max-width: 650px;
  margin-top: 100px;
}
.container1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: var(--gray-text) solid 2px;
}
.status {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.name-title {
  font-size: 4rem;
  white-space: nowrap;
  font-weight: bold;
  line-height: 4.5rem;

  p:nth-child(2) {
    background: linear-gradient(90deg, #00c9ff, #92fe9d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.social-media-link {
  display: flex;
  gap: 20px;

  /* a */
  & .box-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    height: 50px;
    width: 150px;
    background-color: var(--box-gray);
    color: rgb(255, 255, 255);
    text-decoration: none;
    box-shadow: var(--main-box-shadow);
    transition: ease-in-out 0.3s;

    &:hover {
      transform: translateY(-5px);
      background-color: white;
      transition: ease-in-out 0.3s;
      color: black;
    }
  }
}

.about-me {
  margin: 5px;
  font-size: 1.4rem;
  padding-bottom: 20px;
  color: var(--gray-text);
  text-shadow: var(--main-text-shadow);
}

.timeline-section {
  padding: 5px;
  margin-top: 20px;
  border-bottom: 2px solid var(--gray-text);

  h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }

  .timeline {
    position: relative;
    border-left: 2px solid #444;
    padding-left: 20px;

    .timeline-item {
      position: relative;
      margin-bottom: 40px;

      .timeline-dot {
        position: absolute;
        left: -27px;
        top: 17px;
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 50%;

        &.blue {
          background: #3b82f6;
        }
      }

      .timeline-content {
        padding-left: 10px;

        .timeline-date {
          font-size: 14px;
          color: #aaa;
          display: block;
          margin-bottom: 5px;
        }

        a {
          color: #4da6ff;
          text-decoration: none;
        }
      }
    }
  }
}

.projects {
  padding-inline: 5px;
  padding-block: 30px;

  border-bottom: 2px solid var(--gray-text);

  & h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }

  & .container-pro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    & .projects-box {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: var(--box-gray);

      & .projects-title {
        font-size: 1.4rem;
        font-weight: bold;
      }
      & .projects-info {
        font-size: 1rem;
        color: var(--gray-text);
      }
      & .projects-icons {
        height: 40px;
        & img {
          height: 100%;
        }
      }
    }
  }
}

.skills {
  padding-inline: 5px;
  padding-block: 30px;
  border-bottom: 2px solid var(--gray-text);

  & h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }
  & .container-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    & .skills-box {
      width: 100%;
      max-width: 200px;
      height: 200px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: var(--box-gray);

      & img {
        width: 80px;
        filter: drop-shadow(0px 0px 3px);
      }
      & p {
        font-weight: bold;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--gray-text);

  & p {
    font-size: 1.5rem;
    font-weight: bold;
  }
  & a {
    text-decoration: none;
    height: 45px;
    border-radius: 20px;
    background-color: var(--box-gray);
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    padding: 15px;
    white-space: nowrap;
  }
}
